.PoseNet {
  video {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
  }
  width: 500px;
  float: left;
  border: 1px solid #d5d5d5;
}
