@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.g {
  color: #176947;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  padding: 20px;
  font-family: "Lato", sans-serif;
  position: relative;
}

header {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.round-container {
  background: #4da56d;
  background: -webkit-gradient(linear, left top, left bottom, from(#4da56d), to(#186652));
  background: linear-gradient(to bottom, #4da56d 0%, #186652 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da56d', endColorstr='#186652', GradientType=0);
  border-radius: 30px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 450px;
}

.round-container .left-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  width: calc(100% - 350px);
}

.round-container .left-content h1 {
  font-size: 45px;
}

.round-container .left-content p {
  margin-top: 50px;
  font-weight: 100;
  font-size: 20px;
  max-width: 300px;
}

.round-container .right-content {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 292px;
}

.round-container .right-content #doctor {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.round-container .right-content p {
  position: absolute;
  width: 225px;
  top: 45%;
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-style: italic;
}

#start-button,
#arrow {
  position: absolute;
}

#start-button {
  bottom: 75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 5px;
  border-radius: 25px;
  background: orange;
  border: none;
  width: 400px;
  font-size: 25px;
  color: #fff;
}

#arrow {
  bottom: -125px;
  right: 100px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 325px;
  margin: 75px auto 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.options > p {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: 19px;
}

.options .option {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  -webkit-transition: .35s;
  transition: .35s;
  cursor: pointer;
}

.options .option:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
}

.options .option img {
  max-width: 100px;
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */